#dns-container {
  margin-top: 5%;
}

#submit-btn {
  top: 20px;
}

.chip-circle {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
}

#dns-labels {
  display: block;
}